@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
	background: #E4E9F7;
}

.card{
	margin-bottom: 30px;
}

.card img{
	object-fit: cover;
	object-position: center top;
	width: 100%;
	height: 250px;
}

/*card-v para imagens no formato retrato*/

.card img.card-v{   
	width: 100%;
	height: 400px;
}
/* Paginatioon*/
.pagination {
	margin: 3rem auto;
	text-align: center;
	margin-left: 35%;
}

.pagination ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.pagination .page-numbers {
	font-family: "montserrat-bold", sans-serif;
	font-size: 15px;
	line-height: 24px;
	display: inline-block;
	padding: 6px 12px;
	height: 36px;
	margin-right: 6px;
	margin-bottom: 9px;
	color: #2b2b2b;
	background-color: #dbdbdb;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pagination .page-numbers:hover {
	background: #000000;
	color: white;
}

.pagination .current,
.pagination .current:hover {
	background-color: #000000;
	color: white;
}

.pagination .inactive,
.pagination .inactive:hover {
	background-color: #DBDBDB;
	color: #919191;
}

.container{ 
  text-align: center;
  background:#E4E9F7;
}
.container{
  padding-top: 100px; 
  padding-bottom: 200px;
  padding-left: 0px;
}

  .container .card img{
	-webkit-transition:all .9s ease; 
	-moz-transition:all .9s ease; 
	-o-transition:all .9s ease;
	-ms-transition:all .9s ease; 
	width: 100%;
	
  }
  .container .card:hover{
	opacity: 0.7;
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
  }

  /* table */
  .table  th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
} 

  /* menu */ 
 
  
 
@media (max-width: 991.98px) {
	.card img{
		height: 150px;
	}

	.card img.card-v{   
		height: 250px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .container {
	padding-top: 102px;
  }
 button:hover{
background-color: #999393;
 }
 .ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li:hover {
	 background-color:#E4E9F7;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}